.hidden-sm {
	display: block;
}

.visible-sm {
	display: none;
}

/* 响应式 */
@media screen and (max-width: 768px) {
	.hidden-sm {
		display: none;
	}

	.visible-sm {
		display: block;
	}

	.header {
		height: .8rem;
		padding: 0 .3rem;
	}
.header~.main {
	padding-top: .8rem;
}
	.header .logo {
		height: 60%;

	}

	.header .logo img {
		height: 100%;
	}

	.part {
		padding-top: .6rem;
	}

	.part .title {
		font-size: .3rem;
	}

	.part .title i {
		height: .14rem;
		width: .14rem;
	}

	.part1>.w950 {
		padding: 0 .2rem;
		box-sizing: border-box;
	}

	.part.part1 {
		padding-bottom: 1rem;
	}

	.part.part1 .txt {
		font-size: .24rem;
		padding: .4rem .7rem;
	}

	.part.part1 .txt .subtitle {
		font-size: .3rem;
	}

	.part.part1 .txt .telphone {
		float: left;
		font-size: .48rem;
	}

	.part.part1 .txt .telphone i {
		height: .47rem;
		width: .36rem;
	}

	.part.part1 .txt .nums {
		font-size: .24rem;
		margin-top: .2rem;
	}

	.part.part1 .txt .nums .num {
		font-size: .4rem;
		margin-bottom: .1rem;
	}

	.part.part1 .txt .nums .num span {

		font-size: .93rem;
		line-height: .9rem;
	}

	.part2 .category {
		margin: .7rem 0;
	}

	.part2 .category .item {
		font-size: .24rem;
		padding: .5rem 0;
	}

	.part2 .category .item img {
		width: 1.2rem;
	}

	.part3 .schemelist {
		margin: .7rem .1rem .8rem;
	}

	.part3 .schemelist .item {
		width: 50%;
		font-size: .24rem;

	}

	.part3 .schemelist .item .imgbox {
		margin-bottom: .45rem
	}

	.casetitle {
		font-size: .3rem;
	}

	.casebox .tab .tab-hd a {
		font-size: .24rem;
		line-height: .43rem;
		padding: 0 .18rem;
	}

	#certify .swiper-container {
		padding-bottom: .6rem;
		padding-top: .6rem;
	}

	#certify .swiper-slide p {
		padding-left: 0;
		text-align: center;
		line-height: .9rem;
		font-size: .24rem;
	}

	#certify .swiper-slide {
		width: 6rem;
		padding: 0 .36rem .7rem;
	}

	#certify .swiper-button-prev,
	#certify .swiper-button-next {
		width: .56rem;
		height: .56rem;

	}

	#certify .dot-t,
	#certify .dot-b {
		height: .44rem;
		width: .52rem;

	}

	#certify .dot-t {
		background-image: url(../img/dot.png);
		top: .4rem;
		left: 1.2rem;
	}

	#certify .dot-b {
		background-image: url(../img/dot2.png);
		bottom: .4rem;
		right: 1.2rem;
	}

	.footer {
		padding: .5rem 0 .3rem;
		font-size: .24rem;
	}

	.footer i {
		height: .3rem;
		width: .3rem;
	}

	.footer .title {
		font-size: .3rem;
		margin-bottom: .3rem;
	}

	.footer .w950 {
		text-align: center;
		padding-left: 0;
	}

	.footer .copyright {
		font-size: .2rem;
		margin-top: .8rem;
	}
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 900px) {}
