html {
	font-size: 13.33vw;

}

* {
	box-sizing: border-box;
}

.w950 {
	width: 950px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.w1210 {
	width: 1210px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 0 10px;
}

.bg-grey {
	background: #f7f7f7;
}

.imgbox img {
	display: block;
	width: 100%;
}

.mt15 {
	margin-top: 15px;
}

.header {
	background: #46a3ff;
	height: 68px;
	position: relative;
}

.header.index-header {
	height: 80px;
	border-bottom: 1px solid #3a8dee;
}

.header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.header.index-header::after {
	content: '';
	display: block;
	height: 1px;
	background: #95c1ff;
	position: absolute;
	left: 0;
	bottom: -2px;
	right: 0;
}

.header>div {
	height: 100%;
}

.header .menu {
	height: 100%;
}

.header .menu a {
	color: #fff;
	font-size: 24px;
	height: 100%;
	display: inline-block;
	line-height: 68px;
	position: relative;
}

.header.index-header .menu a {
	line-height: 80px;
}

.header .menu a+a {
	margin-left: 45px;
}

.header .menu a.active::after {
	content: '';
	display: block;
	height: 5px;
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	background: #fff;
}

.header .menubtn {
	height: 100%;
	width: .28rem;
	background: url(../img/menu.png) no-repeat center center;
	background-size: 100% auto;
}


.navbar {
	position: fixed;
	top: .8rem;
	/* left: 0; */
	right: 0;
	background: #fff;
	/* bottom: 0; */
	z-index: 999;
	/* padding-top: 40px; */
	display: none;
	width: 110px;
	text-align: center;
	height: auto;
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	transition: all .3s;
	overflow: hidden;
	max-height: 0;
}

.navbar.open {
	max-height: 999px;
}

.navbar .close {
	position: absolute;
	font-size: 30px;
	color: #333;
	right: 20px;
	top: 10px;
	display: none;
}

.navbar li a {
	display: block;
	line-height: 40px;
	/* border-bottom: 1px solid #ddd; */
	/* padding-left: 20px; */
	font-size: 13px;
}

.navbar li a.active {
	color: #4694f7;
}

.logo {}

.header~.main {
	padding-top: 68px;
}

.header.index-header~.main {
	padding-top: 80px;
}


.banner img {
	display: block;
	width: 100%;
}

.part {
	padding-top: 60px;
}

.part.part1 {
	position: relative;
	width: 100%;
	padding-bottom: 120px;
}

.part.part1 .w950 {
	position: relative;

}

.part.part1 img {
	display: block;
	width: 100%;
}

.part.part1 .txt {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
	padding: 40px 70px;
	font-size: 24px;
}

.part.part1 .txt .subtitle {
	font-size: 30px;
}

.part.part1 .txt .name {
	float: left;
	position: relative;
	padding-left: 15px;
}

.part.part1 .txt .name::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	width: 4px;
	background: #fff;
	top: 5px;
	bottom: 5px;
}

.part.part1 .txt .telphone {
	float: right;
	font-size: 48px;
}

.part.part1 .txt .telphone i {
	display: inline-block;
	width: 36px;
	height: 47px;
	background: url(../img/telphone.png) no-repeat center center;
	background-size: contain;
}

.part.part1 .txt .telphone i,
.part.part1 .txt .telphone span {
	vertical-align: middle;
}

.part.part1 .txt .nums {
	text-align: center;
	font-size: 24px;
	margin-top: 130px;

}

.part.part1 .txt .nums .num {
	font-size: 40px;
}

.part.part1 .txt .nums .num span {
	font-size: 93px;
	vertical-align: top;
	line-height: 90px;
}

.part .title {
	color: #2a86dd;
	font-size: 30px;
	text-align: center;
	position: relative;
}

.part .title i {
	height: 14px;
	width: 14px;
	background: #2a86dd;
	display: inline-block;
	border-radius: 100%;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);

}

.part .title i.dot-l {
	left: 50%;
	;
	margin-left: -5em;
}

.part .title i.dot-r {
	left: 50%;
	;
	margin-left: 5em;
}

.part .title span {

	margin: 0 20px;
	vertical-align: middle;
}

.part .title:before,
.part .title:after {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	background: #2a86dd;
	top: 50%;

}

.part .title:before {
	left: 0;
	width: calc(50% - 5em);
}

.part .title::after {
	right: 0;
	width: calc(50% - 5em);
}

.part .title.white-title:before,
.part .title.white-title:after {
	background: #fff;
}

.part .title.white-title {
	color: #fff;
}

.part .title.white-title i {
	background: #fff;
}

.part .title:before {
	left: 0;
}

.part .title:after {
	right: 0;
}

.part2 .category {
	position: relative;
	margin: 70px 0;
}

.part2 .category i {
	background: #ddd;
	position: absolute;
}

.part2 .category .item {
	float: left;
	width: 33.33%;
	text-align: center;
	color: #666;
	font-size: 24px;
	padding: 50px 0;
}

.part2 .category .item p {
	height: 2em;
	padding: 0 10px;
}

.part2 .category i.line1,
.part2 .category i.line2 {
	top: 0;
	bottom: 0;
	width: 1px;
}

.part2 .category i.line1 {
	left: 33.33%;
}

.part2 .category i.line2 {
	right: 33.33%;
}

.part2 .category i.line3,
.part2 .category i.line4 {
	left: 0;
	right: 0;
	height: 1px;
}

.part2 .category i.line3 {
	top: 33.33%;
}

.part2 .category i.line4 {
	bottom: 33.33%;
}

.part3 .schemelist {
	overflow: hidden;
	margin: 70px -10px 80px;
}

.part3 .schemelist .item {
	float: left;
	width: 25%;
	text-align: center;
	font-size: 24px;
	color: #666;
	padding: 10px;
	box-sizing: border-box;
}

.part3 .schemelist .item .imgbox {
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	margin-bottom: 45px;
}

.part3 .schemelist .item .imgbox img {
	border-radius: 20px;
}

.part4 {
	background: url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
}

.part4 .step {
	margin: 50px 20px;
}

#certify {
	position: relative;
	width: 100%;
	/*判断宽度设置响应式效果*/
	margin: 0 auto
}

#certify .swiper-container {
	padding-bottom: 60px;
	padding-top: 60px;
}

#certify .swiper-slide {
	width: 756px;
	/* height: 594px; */
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	padding: 0 36px 70px;
	box-sizing: border-box;
	position: relative;
}

#certify .swiper-slide img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

#certify .swiper-slide p {
	line-height: 90px;
	color: #666;
	font-size: 24px;
	padding-left: 90px;
}

#certify .swiper-pagination {
	width: 100%;
	bottom: 20px;
}


#certify .swiper-button-prev,
#certify .swiper-button-next {
	width: 56px;
	height: 56px;
	background: url(../img/prev.png) no-repeat;
	background-size: 100%;
	transform: translateY(-50%);
	position: absolute;
}

#certify .swiper-button-prev::after,
#certify .swiper-button-next::after {
	content: '';
}

#certify .swiper-button-prev {
	left: 10px
}


#certify .swiper-button-next {
	right: 10px;
	transform: translateY(-50%) scale(-1);
}

#certify .swiper-button-next:hover {
	/*background-position: 0 -139px;*/
	/*background-size: 100%*/
}

#certify .dot-t,
#certify .dot-b {
	height: 44px;
	width: 52px;
	background: no-repeat center center;
	background-size: cover;
	position: absolute;
	z-index: 999;
}

#certify .dot-t {
	background-image: url(../img/dot.png);
	top: 40px;
	left: 120px;
}

#certify .dot-b {
	background-image: url(../img/dot2.png);
	bottom: 40px;
	right: 120px;
}

/* ***********首页-案列 ************/
.casebox .casetitle {
	font-size: 30px;
	color: #666;
	text-align: center;
}

.casebox .tab .tab-hd {
	text-align: center;
	margin-top: 15px;
}

.casebox .tab .tab-hd a {
	display: inline-block;
	font-size: 24px;
	color: #666;
	line-height: 43px;
	padding: 0 18px;
	border-radius: 50px;
}

.casebox .tab .tab-hd a+a {
	margin-left: 50px;
}

.casebox .tab .tab-hd a.active {
	color: #fff;
	background: #2895e6;
}

.footer {
	background: #fff;
	text-align: center;
	color: #666;
	padding: 50px 0 30px;
	font-size: 24px;
}

.footer .w950 {
	padding-left: 120px;
	text-align: left;
}

.footer .title {
	font-size: 30px;
	margin-bottom: 30px;
}

.footer i {
	height: 30px;
	width: 30px;
	background: no-repeat center center;
	background-size: contain;
	display: inline-block;
}

.footer i.icon1 {
	background-image: url(../img/wechat.png);
}

.footer i.icon2 {
	background-image: url(../img/qq.png);
}

.footer i,
.footer span {
	vertical-align: middle;
}

.footer .copyright {
	font-size: 20px;
	margin-top: 80px;
}

.banner .swiper-pagination-bullet {
	background: #fff;
	opacity: 1;
}

.banner .swiper-pagination-bullet-active {
	background: #fff600;
}

.bread {
	height: 55px;
	line-height: 55px;
	color: #fff;
	font-size: 15px;
}

.bread .arrow {
	background: url(../img/arrow.png) no-repeat center center;
	height: 15px;
	width: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.bread a {
	color: #fff;
}

.pageview {
	background: url(../img/bg2.jpg) no-repeat center 67px;
	background-size: cover;
}

.submenu {
	width: 263px;
	background: #fff;
}

.submenu>ul>li {
	border-bottom: 1px dashed #d7d7d7;
}

.submenu>ul>li>a {
	line-height: 60px;
	display: block;
	padding-left: 60px;
	font-size: 18px;
	color: #070707;
	position: relative;
}

.submenu>ul>li>a:after {
	content: '';
	display: block;
	height: 15px;
	width: 15px;
	background: url(../img/arrow3.png) no-repeat center center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

.submenu>ul>li.open>a {
	background: #4694f7;
	color: #fff;
}

.submenu>ul>li.open>a:before {
	content: '';
	display: block;
	width: 4px;
	height: 41px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.submenu>ul>li.open>a:after {
	background-image: url(../img/arrow.png);
	transform: translateY(-50%) rotate(90deg);
}

.submenu>ul>li .sub {
	box-sizing: border-box;
	height: 0;
	overflow: hidden;
	transition: all .3s;
}

.submenu>ul>li.open .sub {
	height: auto;
	padding: 15px 0;
}

.submenu>ul>li .sub a {
	color: #7c7c91;
	font-size: 14px;
	padding-left: 60px;
	line-height: 30px;
}

.submenu>ul>li .sub .active a,
.submenu>ul>li .sub li:hover a {
	color: #4694f7;
}

.grid .content {
	background: #fff;
	margin-left: 35px;
	max-width: 100%;
}

.grid .content .content-hd {
	line-height: 60px;
	border-bottom: 1px dashed #d7d7d7;
	color: #5f5f5f;
	font-size: 16px;
	position: relative;
	padding-left: 45px;
}

.grid .content .content-hd:before {
	content: '';
	display: block;
	height: 60px;
	width: 45px;
	background: url(../img/arrow2.png) no-repeat center center;
	background-size: 14px auto;
	position: absolute;
	left: 0;
	top: 0;
}

.grid .content .txt {
	color: #141414;
	font-size: 14px;
	line-height: 24px;
}

.grid .content .txt .title {
	font-size: 24px;
	position: relative;
	margin-bottom: 20px;
	padding-left: 15px;
}

.grid .content .txt .title:before {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 26px;
	background: #4694f7;
	left: 0;
}

.backhome {
	background: #4694f7;
	color: #fff;
	font-size: 18px;
	display: block;
	width: 127px;
	line-height: 29px;
	text-align: center;
	margin: 0 auto;
}

.grid .content .content-ft {
	padding: 80px 0;
}

.grid .content .scheme-part {
	padding: 50px 70px 0;
}

.grid .content .scheme-part .txt {
	font-size: 16px;
}

.grid .content .scheme-part img {
	display: block;
	margin-top: 35px;
	max-width: 100%;
}

.grid .subtitle {
	font-size: 12px;
	color: #141414;
	margin-top: -15px;
}

.servicelist {
	margin: 2px -10px 0;
}

.servicelist .item {
	width: 33.33%;
	padding: 15px 10px;
	float: left;

	font-size: 18px;
	color: #fff;
	line-height: 30px;

}

.servicelist .item>div {
	border-radius: 10px;
	background: #4694f7;
	height: 177px;
	box-shadow: 0 0 10px rgba(70, 148, 247, .3);
}

.servicelist .item div {
	margin: 0 auto;
	text-align: center;
}

.service-part {
	padding: 45px 75px 0;
}

.team {
	background: #4694f7;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	margin-top: 30px;
	position: relative;
}

.team .item {
	float: left;
	width: 50%;
	text-align: center;
	padding: 60px 0;

}

.team .line1,
.team .line2 {
	display: block;
	position: absolute;
}

.team .line1 {
	display: block;
	width: 1px;
	position: absolute;
	left: 50%;
	background-image: linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.35) 25%, rgba(255, 255, 255, 0.35) 75%, transparent);
	top: 0;
	bottom: 0;
}

.team .line2 {
	display: block;
	height: 1px;
	position: absolute;
	top: 50%;
	background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.35) 25%, rgba(255, 255, 255, 0.35) 75%, transparent);
	left: 0;
	right: 0;
}

.case-part {
	margin:20px;
}

.case-part .item {
	float: left;
	width: 25%;
	font-size: 18px;
	color: #5a5a5a;
	padding: 15px 8px;
}

.case-part .item>div {
	background: #f7f7f7;
	padding-bottom: 20px;
}

.case-part .item p {
	padding: 20px 15px 15px;
}

.case-part .item .arrow {
	height: 30px;
	width: 30px;
	background: url(../img/arrow.jpg) no-repeat center center;
	background-size: contain;
	margin-left: 15px;
}

.pagination {
	margin: 20px;
	position: relative;
}

.pagination a {
	height: 22px;
	border: 1px solid #d5d5d5;
	width: 22px;
	text-align: center;
	color: #d5d5d5;
	background: #fff;
	position: relative;
	z-index: 1;
	display: inline-block;
}

.pagination a.active,
.pagination a:hover{
	color: #0056a8;
	border-color: #0056a8;
}

.pagination:before,
.pagination:after {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	background: #d5d5d5;
	top: 50%;
}

.pagination:before {
	left: 0;
	width: calc(50% - 16px);
}

.pagination:after {
	right: 0;
	width: calc(50% - 16px);
}

.about-part1 {
	padding: .4rem .7rem;
}

.about-part1 img,
.about-part2 img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.about-part2 {
	padding: 0 .7rem .4rem;
}

.about-part2 .txt {
	border-top: 1px solid #4694f7;
	margin-top: .2rem;
}

.tabmenu {
	margin: .2rem .2rem 0;
}

.tabmenu>ul {
	white-space: nowrap;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	height: .6rem;
}

.tabmenu li a {
	color: #fff;
	font-size: .24rem;
	line-height: .5rem;
	height: .5rem;
	padding: 0 .2rem;
	display: block;
}

.tabmenu li.active a {
	background: #2895e6;
	border-radius: 50px;
}

.tabmenu li+li {
	margin-left: .2rem;
}
.ppicLists{padding-bottom: 20px; padding-left: 20px;}
.ppicLists a{float:left; width:201px; margin-right: 18px; margin-bottom: 15px; margin-top: 15px; text-decoration: none; background-color: #f7f7f7; transition:background-color .3s; -webkit-transition:background-color .3s;}
.ppicLists a:nth-child(4n){margin-right: 0;}
.ppicLists a img{width:100%;}
.ppicLists a span{display: block; margin-top: 18px; line-height: 20px; color:#5a5a5a; font-size: 12px; padding:0 15px;}
.ppicLists a em{display: block; line-height: 20px; color:#b0b0b0; font-style: normal; word-break:break-all; font-family: arial; padding:0 15px;}
.ppicLists a i{display: block; width:26px; height:26px; background: url(../img/tb4.png) no-repeat; margin:15px; position:relative; left:0; transition:all .3s; -webkit-transition:all .3s;}
.ppicLists a:hover{background-color: #e9e9e9;}
.ppicLists a:hover i{left:140px;}
@media screen and (max-width: 1200px){
	.ppicLists{
		padding: 0 10px 10px;
	}
    .ppicLists a{width:46%; margin-right: 8%;}
    .ppicLists a:nth-child(2n){margin-right: 0;}
}
